<footer class="mainFooter hidden-md">
    <ul id="leftFooter">
    <li><a>about / contact us</a> / </li>
    <li><a>contact us</a > / </li>
    <li><a>site guidelines</a> / </li>
    <li><a>ad choices</a> / </li>
    <li><a>terms & conditions</a> / </li>
    <li><a>privacy policy</a> / </li>
    <li><a>copyright compliance policy</a> / </li>
    <li><a>ca do not sell my personal information</a> / </li>
    <li><a>optimum</a></li>
    </ul>

    <section class="copyright">
       &copy; 2020 badmancodes. - All Rights Reserved.
       </section>
</footer>
