<header>
    <div id="logo"><img src="./assets/logo.jpg" height="35px" ></div>
        <div id="searchBox">
          <div class="searchBox-wrapper" >
              <i class="fa fa-search" aria-hidden="true" id="input_img" style="color: #9e9e9e;"></i>
          <input type="text" placeholder="Search for a lecturer or school">
         </div>
      </div>
      <div class="socialmedia">
          <div class="socialmedia-details">
          <div class="sd"><i class="fa fa-twitter" aria-hidden="true" style="color: white; font-size: 18px;"></i></div>
          <div class="sd"><i class="fa fa-facebook" aria-hidden="true" style="color: white; font-size: 18px;"></i></div>
          <div class="sd"><i class="fa fa-instagram" aria-hidden="true" style="color: white;  font-size: 18px;"></i></div>
          <div class="sd" routerLink="/auth/login"><span style="font-size: 16px; font-weight: 500; line-height: 20px;">Login</span></div>
          <div class="sd" routerLink="/auth/join"><span style="font-size: 16px; font-weight: 500; line-height: 20px; border: 1px solid white; padding: 6px 16px 8px; border-radius: 20px;">Sign Up</span></div>
      </div>
    </div>
  </header>

