<div class="sideBar">
    <nav>
    <ul>
        <li><a>
            <span class="icon"><i class="fa fa-binoculars" aria-hidden="true" style="color: white;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;"></i></span>
            <span class="label">Lecturers</span>
        </a></li>
        <li><a>
            <span class="icon"><i class="fa fa-graduation-cap" aria-hidden="true" style="color: white;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;"></i></span>
            <span class="label">School</span>
        </a></li>
        <li><a>
            <span class="icon"><i class="fa fa-file" aria-hidden="true" style="color: white;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;"></i></span>
            <span class="label">Rate</span>
        </a></li>
        <li><a>
            <span class="icon"><i class="fa fa-book" aria-hidden="true" style="color: white;
                font-style: normal;
                font-weight: normal;
                font-variant: normal;
                text-transform: none;
                line-height: 1;
                -webkit-font-smoothing: antialiased;"></i></span>
            <span class="label">Blog</span>
        </a></li>
    </ul>
</nav>
</div>
