.sideBar {
    background-color: #4d4e4f;
    background: black;
    display: block;
    height: 120%;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 80px;
    z-index: 1001;
}

nav {
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 1002;
    background: black;
}

nav ul {
    margin: 0;
    padding: 56px 0 0;
    height: 100%;
}
ol, ul {
    list-style: none;
}

nav ul li {
    position: relative;
    float: left;
    width: 70px;
}

A:visited {
    text-decoration: none;
}
A:link {
    text-decoration: none;
}
nav ul li a {
    display: block;
    float: left;
    width: inherit;
    padding-bottom: 20px;
    height: auto;
}
html a, body a {
    color: #00adee;
    cursor: pointer;
}

nav ul li a .icon {
    display: block;
    width: 35px;
    margin: 20px auto 10px;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
}

nav ul li a .label {
    text-align: center;
    width: 100%;
    float: left;
    color: white;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}