#container {
    background-color: #ffffff;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    -ms-overflow-x: hidden;
    min-height: 100%;
}



.center-wrap {
    display: table;
    position: relative;
    background-image: url('/assets/backmath.jpg');
    background-size: cover;
    width: 101%;
    min-height: 280px;
    margin-left: -2px;
    margin-right: -2px;
}

.center-wrap .v-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

h1:not(.profname), .h1:not(.profname) {
    margin-top: 20px;
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1em;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 12px;
    font-weight: 500;
    color: #fff;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    letter-spacing: -2px;
}

.center-wrap .options {
    width: 682px;
    margin: auto;
    margin-bottom: -60px;
}

.center-wrap .options .option .v-align {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 10px;
   
}

.info {
  
}

.center-wrap .options .option .subTitle {
    font-size: 12px;
    float: left;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-family: "Source Sans Pro Light";
    letter-spacing: 0.14em;
    
}

.center-wrap .options .option .subMaintitle {
    font-size: 35px;
    margin-bottom: 45px;
    font-weight: 500;
}

#gridContainer {
    clear: both;
    margin: 30px auto;
    max-width: 1170px;
    overflow: hidden;
    /* padding: 25px 25px 0; */
    position: relative;
    width: 86%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 2%;
    /* margin: 8%; */

}

.rmp-buzz {
    /* position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; */
    /* width: 100%;
    height: 100%; */
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100% 120%;
    min-height: 325px;
    background-color: #dfdfdf;

}

.block-title {
    letter-spacing: 0.15em;
    position: absolute;
    bottom: 10px;
    text-align: left;
    left: 0;
    font-family: "Source Sans Pro Semibold";
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: #464645;
}

.tag {
    letter-spacing: 0.14em;
    color: #fff;
    font-size: 12px;
    font-family: "Source Sans Pro Light";
    text-transform: uppercase;
}
.tag.buzz span {
    background-color: #8a36d1;
}
.tag > span {
    line-height: 2.7;
    padding: 4px 8px;
}
.block-title > span {
    line-height: 2.7;
    padding: 8px;
    background-color: #d7d7d1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.block-ad {
   
    background-color: #dfdfdf;
}
.footer-header {
    height: 100px;
    background-color: black;
    margin-top: 60px;
}


.sd #signup {
        box-sizing: border-box;
        font-family: "Source Sans Pro Semibold";
        color: white;
        font-size: 16px;
        line-height: 20px;
        padding: 6px 16px 8px;
        border-radius: 20px;
        border: 1px solid transparent;
   
}