<div id="container">
  <app-header></app-header>
    <div class="center-wrap">
      <div class="v-align">
    <h1>
       Find what you're looking for.
     </h1>

<div class="options">
    <a class="option">
        <span class="v-align info">
            <span class="subTitle">
            Find a
            </span>
            <span class="subMaintitle">
            Lecturer
            </span>

        </span>
    </a>&nbsp;&nbsp;
    <a class="option">
        <span class="v-align info">
            <span class="subTitle">
            Find a
            </span>
            <span class="subMaintitle">
            School
            </span>

        </span>
    </a>&nbsp;&nbsp;
    <a class="option">
        <span class="v-align info">
            <span class="subTitle">
            Rate a
            </span>
            <span class="subMaintitle">
            Lecturer
            </span>

        </span>
    </a>
 </div>
 </div>
 </div>

 <div id="gridContainer" >
    <div class="rmp-buzz"style="background-image: url('/assets/3.jpg'); background-color: #dfdfdf;" >
<div class="block-title">
    <div class="tag buzz">
 <span> RMP Buzz</span>
    </div>
    <span>New! 17 Best Study Snacks</span><br>
    <span> Available on Amazon!</span>
</div>
    </div> 
     <div class="block-ad">
   </div>

 </div>

 
 <div id="gridContainer" >
    <div class="rmp-buzz" style="background-image: url('/assets/2.jpg');">
        <div class="block-title">
            <div class="tag buzz">
         <span> RMP Buzz</span>
            </div>
            <span>14 Free Online Courses From</span><br>
            <span> Lecturers At Top Schools</span>
        </div>
    </div> 
     <div class="block-ad">

     </div>

 </div>
 <div class="footer-header">

 </div>

<app-footer></app-footer>


</div>

